body{

    background-color: #f8f1f1;


}
hr
{
  border-style: dotted;
  background-color: white;
    height: 0px;

  width: 40%;
  border-width: 5px;
  border-color: grey;
    border-top: none;


}
h3
{
  font-style: normal;
  color: #f54291;
  font-size: 3;

}
h1
{
  font-style: normal;
  color: #f54291;
  font-size: 3;

}
